.table-container {
  width: 100%;
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.todo-table {
  width: 55rem;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6daaec7e;
  box-shadow: 7px 7px 5px #0e345c;
  border-radius: 4rem;
}
.todo-table div {
  color: #d0e2f5;
}
.table-header {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.all-todos {
  color: #d5e3f1;
}
table{
    width: 48rem;
    background-color: #0e345c;
    padding: 2rem;
    border: 1px solid #d0e2f5;
    border-radius: 10px;
    
}
tr {
    /* width: 45rem; */
    /* background-color: #0e345c; */
    /* border: 1px solid #d0e2f5; */
    /* padding: 0.5rem ; */
    display: flex;
    
}
th , td{
    padding: 0.5rem 2rem;
    border: 1px solid #d0e2f5;
     
}

