.todo-container {
  width: 100%;
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  /* padding: 1rem; */
}
.todo-form {
  width: 47rem;
  min-height: 10rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border: 2px solid #6daaec7e;
  box-shadow: 7px 7px 5px #0e345c;
  border-radius: 4rem;
}
.todo-form div {
  color: #d0e2f5;
}
.todo-header {
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: left;
  /* margin: 0 4rem; */
}
.fixed-header{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.todo-add {
  width: 13%;
  margin: 1.3rem 0.2rem;
}
.todo-btn,
.action-btn {
  /* width: 20rem; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 1.3rem 0.2rem; */
}
.todo-btn button {
  width: auto;
  height: 2rem;
  border-radius: 5rem;

  color: #d0e2f5;
  font-size: 1rem;
  font-weight: 500;

  box-shadow: 5px 5px 5px #011b36;
  /* margin: 1px 10px; */
}
.delete-btn button {
  margin: 0 0.5rem;
  background-color: #ad1818;
  border: 1px solid #690c28;
}
.delete-btn button:hover {
  background-color: #6e081e;
}

.update-btn button {
  padding: 0 0.5rem;
  margin: 0 0.2rem;
  background-color: #0c3764;
  border: 1px solid #072647;
}
.update-btn button:hover {
  background-color: #072647;
}
.from-control {
  margin: 20px 7px;
}
.inputbox {
  display: flex;
}
.from-control input {
  width: 15rem;
  height: 2.4rem;
  border-radius: 1.3rem;
  padding: 0.9rem;
  background-color: transparent;
  border: 1px solid #6dabec;
  color: #d5e3f1;
  box-shadow: 7px 7px 5px #0e345c;
}
.todos-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1.3rem 0;
}
.todos-btn Button {
  /* width: 10rem; */
  height: 2.8rem;
  border-radius: 5rem;
  background-color: #0c3764;
  color: #d0e2f5;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #0b315a;
  box-shadow: 5px 5px 5px #011b36;
  margin: 1px 10px;
}
.todos-btn button:hover {
  background-color: #072a50;
}
.error-mes {
  height: 5px;
  text-align: center;
  margin: 0.4rem auto 0 auto;
  color: rgb(201, 57, 57);
}
.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
table {
  width: 50rem;
  margin: 2rem auto;
}
.todo-table {
  width: 60rem;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6daaec7e;
  box-shadow: 7px 7px 5px #0e345c;
  border-radius: 4rem;
  padding: 2.5rem;
}
.todo-table div {
  color: #d0e2f5;
}

tr {
  display: flex;
}
th,
td {
  width: 100%;
  /* height: 100vh; */
  background: rgb(48, 102, 159);
  background: radial-gradient(
    circle,
    rgba(48, 102, 159, 1) 0%,
    rgba(7, 27, 55, 1) 100%
  );
  padding: 0.5rem 2rem;
  border: 1px solid #d0e2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .todo-popup{
    width: 9rem;
    height: 4rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #4c8ed4;
    border-radius: 1rem;
    z-index: 1;
    
} */
/* .todo-popup li {
    color: azure;
    list-style-type: none;
    font-weight: 500;
}
.todo-popup li:hover {
    color: #03203f;
}
.todo-link-popup{
    text-decoration: none;
} */
